<div class="date">
    <div class="container">
        <div class="tow-containers">
            <div class="blue-container">

                <h2> <fa-icon [icon]="faCalendar" class="calendar"></fa-icon> &nbsp;Confirm your date</h2>
                <app-calendar [hidden]="serviceLoaded" (daySelected)="onDateSelected($event)"></app-calendar>
            </div>
            <div class="blue-container">
                <h2> <fa-icon [icon]="faClock" class="calendar"></fa-icon> &nbsp;Confirm your schedule</h2>

                <div class="availability">
                    <div class="mini">
                        <div class="unavailable"></div>
                        <span>Unavailable</span>
                    </div>
                    <div class="mini">
                        <div class="available"></div>
                        <span>Available</span>
                    </div>
                    <div class="mini">
                        <div class="selected"></div>
                        <span>Selected</span>
                    </div>
                </div>

                <div class="date-calendar">
                    <div *ngIf="!problem" class="cal">
                        <fa-icon [icon]="faCalendarX" class="calendarX"> </fa-icon>
                        <h3>{{problemMessage}}</h3>
                    </div>
                    <div *ngIf="problem && firstShiftSlotsList.length" >
                        <h3>first shift</h3>
                        <hr>
                        <div class="slots">
                            <div *ngFor="let slot of firstShiftSlotsList;let i=index" >
                                <div [ngClass]="{
                                    'unavailable': slot.hasPassed || !slot.isAllowed || slot.isFull,
                                    'selected':  i==selectedIndexFirst,
                                    'available': !slot.hasPassed && slot.isAllowed && !slot.isFull
                                    
                                }" (click)="toggelSelectionFirst(i)">{{slot.time}}</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="problem && secondShiftSlotsList.length" >
                        <h3>second shift</h3>
                        <hr>
                        <div class="slots">
                            <div *ngFor="let slot of secondShiftSlotsList;let j=index" >
                                <div [ngClass]="{
                                    'unavailable': slot.hasPassed || !slot.isAllowed || slot.isFull,
                                    'selected':  j==selectedIndexSecond,
                                    'available': !slot.hasPassed && slot.isAllowed && !slot.isFull
                                    
                                }" (click)="toggelSelectionSecond(j)">{{slot.time}}</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="next-previous">
            <button class="previous" (click)="navigateToAgency()"  > <fa-icon class="flech2" [icon]="faChevronRight"></fa-icon> &nbsp;&nbsp; Previous  </button>
            <button class="next" (click)="navigateToSummary()" >Next &nbsp;&nbsp; <fa-icon class="flech" [icon]="faChevronRight"></fa-icon></button>
        </div>
    </div>
</div>
