<div class="account-setting">

    <h2> Account Setting </h2>
    <hr class="line2">

    <div class="bottom">
        <div class="container">
            <h3>Informations</h3>
            <div class="informations">
                <fa-icon [icon]="faUserCircle" id="userIcon" ></fa-icon>
                <div class="champs">
                    <div>
                        <span class="label">First name:</span> <span class="info">{{getFirstName}}</span>
                    </div>

                    <div>
                        <span class="label">Last name:</span> <span class="info">{{getLastName}}</span>
                    </div>

                    <div>
                        <span class="label">Email:</span> <span class="info">{{getEmail}}</span>
                    </div>

                    <div>
                        <span class="label">Phone:</span> <span class="info">{{getPhone}}</span>
                    </div>
                </div>
                <hr class="line3">
                <div class="champs">
                    <div>
                        <span class="label">Business name:</span> <span class="info">{{getBusinessName}}</span>
                    </div>

                    <div>
                        <span class="label">Location:</span> <span class="info">{{getLocation}}</span>
                    </div>

                    <div>
                        <span class="label">Country:</span> <span class="info">{{getCountry}}</span>
                    </div>

                    <div>
                        <span class="label">City:</span> <span class="info">{{getCity}}</span>
                    </div>
                </div>
            </div>
            <div class="popup-buttons">
                <button (click)="openPopup('pop1')">Modify Informations</button>
                <button (click)="openPopup('pop2')">Change Password</button>
                <button (click)="openPopup('pop3')">Change Logo</button>
            </div>
            
        </div>
        

    </div>
    <!-- Popup -->
    <div class="popup" *ngIf="showPopup_info">
        <div class="popup-content">
            <span class="close" (click)="closePopup()">&times;</span>
            <div class="container">
                <h3>Modify Informations</h3>
                <div class="informations">
                    <div class="champs">
                        <div class="inputs">
                            <label for="firstName">First name</label>
                            <input type="text" id="firstName" [(ngModel)]="getFirstName">
                        </div>
                        <div class="inputs">
                            <label for="lastName">Last name</label>
                            <input type="text" id="lastName" [(ngModel)]="getLastName">
                        </div>
                        <div class="inputs">
                            <label for="email">Login</label>
                            <input type="email" id="email" [(ngModel)]="getEmail">
                        </div>
                        <div class="inputs">
                            <label for="phone">Phone</label>
                            <input type="tel" id="phone" >
                        </div>
                    </div>
                    <hr class="line3">
                    <div class="champs">
                        <div class="inputs">
                            <label for="Business">Business name</label>
                            <input type="text" id="Business" [(ngModel)]="getBusinessName">
                        </div>
                        <div class="inputs">
                            <label for="Location">Location</label>
                            <input type="text" id="Location" [(ngModel)]="getLocation">
                        </div>
                        <div class="inputs">
                            <label for="Country">Country</label>
                            <input type="text" id="Country" [(ngModel)]="getCountry">
                        </div>
                        <div class="inputs">
                            <label for="City">City</label>
                            <input type="text" id="City" [(ngModel)]="getCity" >
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <button (click)="closePopup()">Save</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Popup -->
    <div class="popup" *ngIf="showPopup_psw">
        <div class="popup-content">
            <span class="close" (click)="closePopup()">&times;</span>
            <div class="container">
            <h3>Change Password</h3>
            <div class="informations">
                    <div class="champs">
                        <div class="inputs">
                            <label for="currentPassword">Current Password</label>
                            <input type="password" id="currentPassword" [(ngModel)]="currentPassword">
                        </div>
                        <div class="inputs">
                            <label for="newPassword">New Password</label>
                            <input type="password" id="newPassword" [(ngModel)]="newPassword">
                        </div>
                        <div class="inputs">
                            <label for="confirmPassword">Confirm New Password</label>
                            <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword">
                        </div>
                    </div>
                </div>
                <div class="button-container">
                        <button (click)="changePassword() ">Change Password</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Popup -->
    <div class="popup" *ngIf="showPopup_logo">
        <div class="popup-content">
            <span class="close" (click)="closePopup()">&times;</span>
            <div class="container">
                <h3>Change Logo</h3>

                <div class="logo-container">
                
                    <button (click)="fileInput.click()">Pick File</button>
                    <input #fileInput type="file" style="display: none" (change)="onFileSelected($event)">
                    <span class="drop-zone" 
                        (drop)="onDrop($event)"
                        (dragover)="onDragOver($event)"
                        (dragleave)="onDragLeave($event)"
                        [class.active]="isDragOver">
                        {{fileName}}
                    </span>
                </div>
                <div class="button-container">
                    <button (click)="closePopup()" >Change Logo</button>
                </div>
            </div>
        </div>
    </div>
</div>


