.technical-file{
    width: 100%;

    height: 100%;
}
.back-button{
    border: none;
    background-color: white;
    color: #615c5cc5;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
.Arrow-icon{
    font-size: 18px;
}