<div class="service-container">
  <div class="container">
    <h3>Identification of your vehicle</h3>
    <input type="text" class="vehicle-id">
  </div>
  
  <div class="container">
    <div class="services-container">
        <h3>Please select a service from the list below</h3>
        <hr>
        <div class="services">
            <button class="service" (click)=" toggleService('ser1') ; " [class.highlight]="isButtonActive('ser1')" >
                <div class="div-check" *ngIf="isButtonActive('ser1')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{diagnosticService}} alt="DIAGNOSIS">
                <span [class.spanHighlight]="isButtonActive('ser1')">Diagnostic service</span>
            </button>

            <button class="service" (click)="toggleService('ser2')  " [class.highlight]="isButtonActive('ser2')">
                <div class="div-check" *ngIf="isButtonActive('ser2')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{electricalRepairService}} alt="REPAIR_ELECTRIC">
                <span [class.spanHighlight]="isButtonActive('ser2')">Electrical Repair Service</span>
            </button>

            <button class="service" (click)="toggleService('ser3')" [class.highlight]="isButtonActive('ser3')">
                <div class="div-check" *ngIf="isButtonActive('ser3')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{mechanicalRepairService}} alt="REPAIR_MECHANIC">
                <span [class.spanHighlight]="isButtonActive('ser3')">Mechanical Repair Service</span>
            </button>

            <button class="service" (click)="toggleService('ser4')" [class.highlight]="isButtonActive('ser4')">
                <div class="div-check" *ngIf="isButtonActive('ser4')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{fastService}} alt="FAST">
                <span [class.spanHighlight]="isButtonActive('ser4')">Fast Service</span>
            </button>

            <button class="service" (click)="toggleService('ser5')" [class.highlight]="isButtonActive('ser5')">
                <div class="div-check" *ngIf="isButtonActive('ser5')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{multipleServices}} alt="MULTIPLE_SERVICES">
                <span [class.spanHighlight]="isButtonActive('ser5')">Multiple services</span>
            </button>
            <button class="service" (click)="toggleService('ser6')" [class.highlight]="isButtonActive('ser6')" >
                <div class="div-check" *ngIf="isButtonActive('ser6')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{bodywork}} alt="REPAIR_SHEET_METAL">
                <span [class.spanHighlight]="isButtonActive('ser6')">Bodywork</span>
            </button>
        </div>
    </div>
    <div *ngIf="isHidden" #formService>
        <h3>{{serviceName}}</h3>
        <p>Please fill in the information below</p>
        <hr>
        <div class="fill-info">
            <div class="vehicle-broken-down">
                <img src="assets/service-icons/breakdown-icon.png" alt="vehicle broken down" class="vbd-icon">
                <label>Vehicle broken down</label>

                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

            <div class="align" id="select-m-service" *ngIf="isButtonActive('ser5')">
                <label for="select-m-service">Select service (At least 2 services)*</label>
                <select name="selector" class="zone3" id="select-m-service" >
                    <option value="" selected hidden>Select service (At least 2 services)</option>
                </select>
            </div>

            <div class="align" id="current-mileage" *ngIf="!isButtonActive('ser4')">
                <label for="current-mileage">Current mileage*</label>
                <input type="text" class="zone1" id="current-mileage"  placeholder="5000                   km">
            </div>

            <div class="align" id="select-type-interview" *ngIf="isButtonActive('ser4')">
                <label for="interview-selector">Select the type of interview*</label>
                <select name="selector" class="zone3" id="interview-selector" >
                    <option value="" selected hidden>Select the type of interview*</option>
                </select>
            </div>

            

            <div class="align" id="Description" *ngIf="!isButtonActive('ser4')">
                <label for="">Description*</label>
                <textarea name="Description" id="Description" placeholder="Description" class="zone2" cols="30" rows="10"></textarea>
            </div>

            <div class="align" id="quotation-number" *ngIf="isButtonActive('ser2') || isButtonActive('ser3')">
                <label for="current-mileage">Quotation number</label>
                <input type="text" class="zone1" id="current-mileage" placeholder="D12345">
            </div>

            <div class="align" id="attatchment" *ngIf="!isButtonActive('ser4')">
                <label for="current-mileage">Attatchment</label>
                <div class="dropzone-attachment">
                    <fa-icon [icon]="faImage"></fa-icon>
                    <span>drag a photo</span>
                    <span>or</span>
                    <span>select a file</span>
                </div>
                

            </div>

        </div>
    </div>
  </div>

</div>