<div class="service-container">
  <div class="container">
    <h3>Identification of your vehicle</h3>
    <div class="select-wrapper" [class.open]="isSelectOpen">
        <select 
                [(ngModel)]="selectedVehicleId"
                (change)="isSelectOpen = false"
                (blur)="isSelectOpen = false"
                (mousedown)="isSelectOpen = !isSelectOpen"
                (ngModelChange)="onInputChange()"
        >
            <option hidden selected >Select Vehicle</option>
            <option  *ngFor="let car of vehiclesList"  [value]="car.id">{{car.registrationNumber}}</option>
        </select>
        <fa-icon [icon]="faChevronRight" class="custom-arrow"></fa-icon>
    </div>

  </div>
  
  <div class="container">
    <div class="services-container">
        <h3>Please select a service from the list below</h3>
        <hr>
        <div class="services">
            <button class="service" (click)=" toggleService('ser1') ; " [class.highlight]="isButtonActive('ser1')" >
                <div class="div-check" *ngIf="isButtonActive('ser1')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{diagnosticService}} alt="DIAGNOSIS">
                <span [class.spanHighlight]="isButtonActive('ser1')">Diagnostic service</span>
            </button>

            <button class="service" (click)="toggleService('ser2')  " [class.highlight]="isButtonActive('ser2')">
                <div class="div-check" *ngIf="isButtonActive('ser2')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{electricalRepairService}} alt="REPAIR_ELECTRIC">
                <span [class.spanHighlight]="isButtonActive('ser2')">Electrical Repair Service</span>
            </button>

            <button class="service" (click)="toggleService('ser3')" [class.highlight]="isButtonActive('ser3')">
                <div class="div-check" *ngIf="isButtonActive('ser3')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{mechanicalRepairService}} alt="REPAIR_MECHANIC">
                <span [class.spanHighlight]="isButtonActive('ser3')">Mechanical Repair Service</span>
            </button>

            <button class="service" (click)="toggleService('ser4')" [class.highlight]="isButtonActive('ser4')">
                <div class="div-check" *ngIf="isButtonActive('ser4')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{fastService}} alt="FAST">
                <span [class.spanHighlight]="isButtonActive('ser4')">Fast Service</span>
            </button>

            <button class="service" (click)="toggleService('ser5')" [class.highlight]="isButtonActive('ser5')">
                <div class="div-check" *ngIf="isButtonActive('ser5')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{multipleServices}} alt="MULTIPLE_SERVICES">
                <span [class.spanHighlight]="isButtonActive('ser5')">Multiple services</span>
            </button>
            <button class="service" (click)="toggleService('ser6')" [class.highlight]="isButtonActive('ser6')" >
                <div class="div-check" *ngIf="isButtonActive('ser6')">
                    <fa-icon [icon]="faCircleCheck"  class="check"></fa-icon>
                </div>
                <img src={{bodywork}} alt="REPAIR_SHEET_METAL">
                <span [class.spanHighlight]="isButtonActive('ser6')">Bodywork</span>
            </button>
        </div>
    </div>
    <div *ngIf="isHidden" #formService>
        <h3>{{serviceName}}</h3>
        <p>Please fill in the information below</p>
        <hr>
        <div class="fill-info">
            <div class="vehicle-broken-down">
                <img src="assets/service-icons/breakdown-icon.png" alt="vehicle broken down" class="vbd-icon">
                <label>Vehicle broken down</label>

                <label class="switch">
                    <input type="checkbox" [checked]="isBrokenDown" (click)="isBrokenDown=!isBrokenDown" (ngModelChange)="onInputChange()">
                    <span class="slider"></span>
                </label>
            </div>

            <div class="align" id="select-m-service" *ngIf="isButtonActive('ser5')">
                <label for="select-m-service">Select service (At least 2 services)*</label>
                <select name="selector" [(ngModel)]="interviewType" class="zone3" (ngModelChange)="onInputChange()"  id="select-m-service" >
                    <option value="" selected hidden>Select service (At least 2 services)</option>
                </select>
            </div>

            <div class="align" id="current-mileage" *ngIf="!isButtonActive('ser4')">
                <label for="current-mileage">Current mileage*</label>
                <div class="input-wrapper ">
                    <input type="text" class="special-input" id="current-mileage"  (ngModelChange)="onInputChange()" placeholder="5000" (input)="formatMileage($event,'mileage')" 
                    (keypress)="restrictToNumbers($event)"
                    [(ngModel)]="mileage"
                    pattern="[0-9,]*">
                    <span class="unit">km</span>
                </div>
            </div>

            <div class="align" id="select-type-interview" *ngIf="isButtonActive('ser4')">
                <label for="interview-selector">Select the type of interview*</label>
                <select name="selector" class="zone3" [(ngModel)]="interviewType" (ngModelChange)="onInputChange()" style="width: 20em;" id="interview-selector" >
                    <option value="" selected hidden>Select the type of interview*</option>
                    <option *ngFor="let value of listInterviews" [value]="value">{{ value }}</option>
                    <option value="other" >other</option>
                </select>
                <div class="fade-container" *ngIf="interviewType === 'other'">
                    <label for="other">Write mileage here</label>
                    <div class="input-wrapper">
                    <input type="text" class="special-input" id="other"
                            (ngModelChange)="onInputChange()"
                            placeholder="other" (input)="formatMileage($event,'interviewTypeOther')" 
                            (keypress)="restrictToNumbers($event)"
                            [(ngModel)]="interviewTypeOther"
                            pattern="[0-9,]*">
                    <span class="unit">km</span>
                    </div>
                </div>
            </div>
                        

            <div class="align" id="Description" *ngIf="!isButtonActive('ser4')">
                <label for="">Description*</label>
                <textarea [(ngModel)]="description" (ngModelChange)="onInputChange()" name="Description" id="Description" placeholder="Description" class="zone2" cols="30" rows="10"></textarea>
            </div>

            <div class="align" id="quotation-number" *ngIf="isButtonActive('ser2') || isButtonActive('ser3')">
                <label for="quotation-number">Quotation number</label>
                <input type="text" class="zone1" [(ngModel)]="quotation_number" (ngModelChange)="onInputChange()" id="quotation-number" placeholder="D12345">
            </div>

            <div class="align" id="attatchment" *ngIf="!isButtonActive('ser4')">
                <label for="current-mileage">Attatchment</label>
                <div class="dropzone-attachment" [ngClass]="{ 'drag-over': isDragging }" (click)="fileInput.click()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                    <fa-icon [icon]="faImage"></fa-icon>
                    
                    <div class="dropzone-text" *ngIf="!selectedFile">
                        <span>drag a photo</span>
                        <span> or </span>
                        <span>select a file</span>
                    </div>

                    <div *ngIf="selectedFile">
                      <span>"{{selectedFile.name}}"</span>
                    </div>
                </div>
                 <input
                    #fileInput
                    type="file"
                    (change)="onFileSelected($event)"
                    style="display: none"
                />
            </div>
            <div class="next-previous">
                <button class="next" [disabled]="isDisabled" (click)="navigateToAgency()" >Next &nbsp;&nbsp; <fa-icon class="flech" [icon]="faChevronRight"></fa-icon></button>
                
            </div>
        </div>
    </div>
  </div>

</div>